body {
    //margin-top: 3em;
}

img {
    width: 100%;
}
/*
.alert {
    border: 1px solid #ccc;
    padding: 6px;
}
.alert-info {
    background-color: #d9edf7;
}
.alert-success {
    background-color: #dff0d8;
}
.alert-warning {
    background-color: #fcf8e3;
}
*/

/** Helper Class **/

.flex-display {
    display: flex;
    align-items: center;
    justify-content: center;
}

/** Typography **/

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
    letter-spacing: 1px;
}

/** CTA's **/

.btn {
    background: red;
    color: white;
}

.cta-1 {
    background: #400E3C;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    min-width: 150px;
    text-align: center;
    font-family: 'Rokkitt', serif;
    letter-spacing: 1.5px;
    &:hover {
        cursor: pointer;
        color: white;
    }
}

.cta-2 {
    background: #735C19;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    min-width: 150px;
    text-align: center;
    font-family: 'Rokkitt', serif;
    letter-spacing: 1.5px;
    &:hover {
        cursor: pointer;
        color: white;
    }
}

.form-btn {
    background: #400E3C;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    min-width: 150px;
    text-align: center;
    font-family: 'Rokkitt', serif;
    letter-spacing: 1.5px;
    margin-top: 15px;
    border: none;
    &:hover {
        cursor: pointer;
        color: white;
    }
}

/** Navigation **/

.navigation {
    background: #212529;
}

/** Sign Up Login Page**/

.sign-up-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30vh;
}

/** welcome page **/

.welcome-page {
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-image: url('/assets/gym-app-bg.jpg');
    background-size: cover;
    h1 {
        color: white;
    }
}

/** Sign Up Page **/

.new-sign-up {
    min-height: 100vh;
    background-image: url('/assets/gym-app-bg-1.jpg');
    background-size: cover;
    .sign-up {
        form {
            width: 500px;
            margin-bottom: 30vh;
            background: rgba(0,0,0,.5);
            padding: 25px;
            label {
                color: white;
            }
        }
    }
    h1 {
        color: white;
    }
}

/** Log In Page **/

.new-login-page {
    min-height: 100vh;
    background-image: url('/assets/gym-app-bg-1.jpg');
    background-size: cover;
    .login-page {
        form {
            width: 500px;
            margin-bottom: 30vh;
            background: rgba(0,0,0,.5);
            padding: 25px;
            label {
                color: white;
            }
        }
    }
    h1 {
        color: white;
    }
    a {
        color: white;
    }
}