{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>

    <script>
      // this doesn't work 
        $(document).ready(function() {
          $('.delete-item').click(function (event) {
              //console.log('delete item');
              event.preventDefault();
              var id = $(this).data('id');
              $.ajax({
                url: "../Workouts/deleteWorkoutSessionAction",
                method: "POST",
                cache: false,
                data: { id: id }
              });
          });
        });
    </script>

{% endblock %}

{% block body %}

    <h1>View Workouts</h1>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form method="post" id="formProfile" action="/workouts/search-by-lift-cat">
            <input type="hidden" id="user" name="user" value="{{ current_user.id }}">
            <select id="category" name="category" class="form-select" aria-label="Default select example">
                <option selected>Sort by Lift Category</option>
                <option value="back">Back</option>
                <option value="core">Core</option>
                <option value="chest">Chest</option>
                <option value="legs">Legs</option>
                <option value="shoulders">Shoulders</option>
                <option value="arms">Arms</option>
              </select>
              <select id="date" name="date" class="form-select" aria-label="Default select example">
                <option selected>Sort by Date</option>
                {% for date in dates_in_db %}
                  <option value="{{date}}">{{date}}</option>
                {% endfor %}
              </select>    
            <button type="submit" class="btn">Sort</button>
        </form>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12">
              {% for lift in lift_name %}
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Lift</th>
                        <th scope="col">Date</th>
                      </tr>
                    </thead>
                    <tbody>
                          <tr>
                            <th scope="row">{{lift.lift_name }}</th>
                            <td>{{lift.date|date('l')}} - {{lift.date|date('m-d') }}</td>
                            <!--<td><a href="#" data-id="{{ lift.id }}" class="delete-item">Delete</a></td>-->
                          </tr>
                          <tr>
                            <th scope="col">Wieight</th>
                            <th scope="col">Reps</th>
                            <th scope="col">Sets</th>
                          </tr>
                          <tr>
                            <td>{{ lift.weight}}</td>
                            <td>{{ lift.reps}}</td>
                            <td>{{ lift.sets}}</td>
                          </tr>
                          <tr>
                            <td>
                              <form method="POST" action="/Workouts/delete-workout-session">
                                <input type="hidden" name="id" value={{ lift.id }} />
                                <input type="submit" value="Delete" />
                              </form>
                            </td>
                            <td>
                              <form method="POST" action="/Workouts/edit-workout-session">
                                <input type="hidden" name="liftId" id="liftId" value={{ lift.id }} />
                                <input type="hidden" name="liftName" id="liftName" value={{ lift.lift_name }} />
                                <input type="hidden" name="liftWeight" id="liftWeight" value={{ lift.weight }} />
                                <input type="hidden" name="liftReps" id="liftReps" value={{ lift.reps }} />
                                <input type="hidden" name="liftSets" id="liftSets" value={{ lift.sets }} />
                                <input type="submit" value="Edit" />
                              </form>
                            </td>
                          </tr>
                    </tbody>
                  </table>
                  {% endfor %}
            </div>
        </div>
    </div>

 
{% endblock %}
