{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}

    <h1>Profile</h1>

    <!--<dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{ user.name }}</dd>
        <dt>email</dt>
        <dd>{{ user.email }}</dd>
    </dl>-->
    {% if last_week_stats %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Lift</th>
            <th scope="col">Date</th>
            <th scope="col">Wieight</th>
            <th scope="col">Reps</th>
            <th scope="col">Sets</th>
          </tr>
        </thead>
        <tbody>
            {% for stat in last_week_stats %}
            <tr>
                <th scope="col">{{stat.lift_name }}</th>
                <td>{{stat.date|date('l')}} - {{stat.date|date('m-d') }}</td>
                <td>{{ stat.weight}}</td>
                <td>{{ stat.reps}}</td>
                <td>{{ stat.sets}}</td>
            </tr>
            {% endfor %}
            <tr>
              </tr>
        </tbody>
      </table>
      {% else %}
      <div class="container">
          <div class="row">
              <div class="col-12">
                <p>No lifts to report from last week</p>
                <img src="../assets/didnt-work-out.gif" alt="">
              </div>
          </div>
      </div>
      {% endif %}

    <a href="/profile/edit">Edit</a>

{% endblock %}
